<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelbee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="PMS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelBee">
        <activity
            android:name=".CreateMemory"
            android:exported="true" />
        <activity
            android:name=".UpdateMemory"
            android:exported="true" />
        <activity
            android:name=".MemoryPage"
            android:exported="true" />
        <activity
            android:name=".DisplayMemories"
            android:exported="true" />
        <activity
            android:name=".MainTODOActivity"
            android:exported="true" />
        <activity
            android:name=".RVActivity"
            android:exported="true" />
        <activity
            android:name=".ChatActivity"
            android:exported="true"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".BudgetActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>